# Maven
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.settings
bin
gen
.classpath
.project
project.properties

# IntelliJ
.idea
*.iml
local.properties

# Gradle
build
.gradle

# Emacs
*~
[#]*[#]
.\#*

osmosis-0.49.2/*

# Wahoo Maps Creator dependency
/wahooMapsCreator/

# Osmosis toolchain
/osmosis-0.49.2/
*.osm
*.map
*.osm.pbf
